<footer class="footer">
  <div class="footer-container">
    <!-- Company Info Section -->
    <div class="footer-section company-info">
      <h3>Our Company</h3>
      <p>
        Providing high-quality educational content to inspire and engage
        learners of all ages.
      </p>
    </div>

    <!-- Quick Links Section -->
    <div class="footer-section quick-links">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a routerLink="/about" routerLinkActive="active-link">About Us</a>
        </li>
        <li>
          <a routerLink="/gap-assessment" routerLinkActive="active-link">Gap Assessments</a>
        </li>
        <li>
          <a routerLink="/test-creator" routerLinkActive="active-link">Tests</a>
        </li>
        <li>
          <a routerLink="/kahoot" routerLinkActive="active-link">Kahoots</a>
        </li>
        <li>
          <a routerLink="/lesson-plan" routerLinkActive="active-link"
            >Lesson Plans</a
          >
        </li>
        <li>
          <a routerLink="/activities" routerLinkActive="active-link"
            >Activities</a
          >
        </li>
        <!-- <li><a href="#services">Services</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#about">Contact Us</a></li> -->
      </ul>
    </div>

    <!-- Contact Info Section -->
    <div class="footer-section contact-info">
      <h3>Contact Us</h3>
      <ul>
        <li>
          <span>Email:</span>
          <a href="mailto:teachgenieai@gmail.com">teachgenieai&#64;gmail.com</a>
        </li>
        <li><span>Phone:</span> +1 (978) 835-0951</li>
        <!-- <li><span>Address:</span> 123 Education Street, City, Country</li> -->
      </ul>
    </div>

    <!-- Social Media Section -->
    <div class="footer-section social-media">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <!-- <a href="#" aria-label="Facebook"
          ><img src="assets/images/facebook.svg" alt="Facebook"
        /></a> -->
        <a href="https://x.com/TeachGenieAI" aria-label="Twitter"
          ><img src="assets/images/twitter.svg" alt="Twitter"
        /></a>
        <a href="https://www.linkedin.com/in/teachgenie/" aria-label="LinkedIn"
          ><img src="assets/images/linkedin.svg" alt="LinkedIn"
        /></a>
        <a
          href="https://www.instagram.com/teachgenie/profilecard/?igsh=MXNnZTNra3E2MmFvZQ=="
          aria-label="Instagram"
          ><img src="assets/images/instagram.svg" alt="Instagram"
        /></a>
      </div>
    </div>
  </div>

  <!-- Bottom Footer -->
  <div class="footer-bottom">
    <p>&copy; 2025 TeachGenie. All rights reserved.</p>
  </div>
</footer>
