<mat-card class="about-card">
  <!-- <mat-toolbar color="primary" class="mat-elevation-z4">
      <span>TeachGenie</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/home">Home</button>
    </mat-toolbar> -->
  <div class="about-header" @fadeInDown>
    <h1>About TeachGenie</h1>
    <p>
      TeachGenie was designed to help teachers save time, reduce stress, and
      improve the quality of their materials.
    </p>
  </div>
  <div class="about-content" @fadeIn>
    <h2>Why Choose TeachGenie?</h2>
    <p>
      Being a teacher often means creating tons and tons of materials for
      students daily, on top of having to grade all the tests, homeworks, and
      quizzes they turn in. And there's almost no time to do this in school, so
      most of grading and material creation is done on your own time at home.
      What if there was a way to save time, reduce stress, and take back your
      after work life? That's where TeachGenie comes in, our ultimate goal is
      helping teachers, and saving you time along the way. You can invest that
      time in yourselves.
    </p>
    <ul>
      <li>Generate high-quality lesson plans tailored to your needs.</li>
      <li>Create tests and quizzes effortlessly.</li>
      <li>Access 24/7 AI assistance for instant support.</li>
    </ul>
  </div>
  <div class="testimonials">
    <h2>What Teachers Say</h2>
    <div class="testimonial-list" @staggeredFadeIn>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-card
          *ngFor="let testimonial of testimonials"
          class="testimonial-item mat-elevation-z4"
        >
          <p>"{{ testimonial.message }}"</p>
          <h4>- {{ testimonial.name }}, {{ testimonial.position }}</h4>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
