/* src/app/components/about/about.component.css */
.about-card {
    margin: 20px;
    padding: 20px;
    /* background-color: #ffffff; */
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .about-header {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .about-header h1 {
    font-size: 2.5em;
    color: #3f51b5;
  }
  
  .about-header p {
    font-size: 1.2em;
    /* color: #757575; */
  }
  
  .about-content {
    margin: 20px 0;
    animation: fadeIn 1s ease-in-out;
    /* color: #424242; */
  }
  
  .about-content ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .testimonials {
    text-align: center;
    margin-top: 40px;
    animation: fadeInUp 1s ease-in-out;
  }
  
  .testimonial-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .testimonial-item {
    max-width: 400px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    /* background-color: #f1f1f1; */
    border: 2px solid #3f51b5;
    border-radius: 8px;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  