mat-sidenav-container {
    height: 100%;
    /* width: 33%; */
  }

mat-sidenav {
  min-width: 20%;
}
  
  /* mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  } */

  img {
    height: 35px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between the logo and the title */
    vertical-align: middle; /* Align vertically with text */
    border-radius: 30%;
  }
  
  .content {
    margin: 20px;
  }
  
  .active-link {
    font-weight: bold;
    color: #3f51b5;
  }

  @media only screen and (max-width: 600px) {
    mat-sidenav {
      min-width: 35%;
      max-width: 45%;
    }
  }

.angular-theme {
    background-color: #f0f0f0; /* Change to your desired color */
    color: #333; /* Optional: Set a text color that contrasts well with the background */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a global font */
  }

/* For logged in profile styling */
mat-list-item h4 {
  display: inline;
}

/* Use CSS to ensure that both the icon and text are aligned in the center of the mat-list-item */
.menu-item {
  display: flex;
  align-items: center;
}

.menu-item mat-icon {
  margin-right: 8px; /* Add space between icon and text */
}

