<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened> -->
<nav class="navbar">
  <div class="first-row">
    <!-- Logo and Site Name -->
    <div class="navbar-brand">
      <img src="assets/Logo.png" alt="Logo" class="logo" />
      <span>TeachGenie</span>
    </div>

    <span class="navbar-spacer"></span>

    <!-- Hamburger Menu Button -->
    <button class="hamburger" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Navigation Links -->
  <ul [class.hidden]="isMenuOpen">
    <li>
      <a routerLink="/home" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Home icon"
            fontIcon="home"
          ></mat-icon>
          <span>Home</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/lesson-plan" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Lesson plan icon"
            fontIcon="history_edu"
          ></mat-icon>
          <span>Lesson Plan</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/test-creator" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Test creator icon"
            fontIcon="quiz"
          ></mat-icon>
          <span>Test Creator</span>
        </div>
      </a>
    </li>
    <li>
      <!-- You can use custom icons by adding links to the svg: <mat-icon svgIcon="custom_icon"></mat-icon> -->
      <a routerLink="/kahoot" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Kahoot creator icon"
            fontIcon="extension"
          ></mat-icon>
          <span>Kahoot Generator</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/activities" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Activities icon"
            fontIcon="local_activity"
          ></mat-icon>
          <span>Activities</span>
        </div></a
      >
    </li>
    <li>
      <a routerLink="/gap-assessment" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Gap assessment icon"
            fontIcon="analytics"
          ></mat-icon>
          <span>Gap Assessment</span>
        </div></a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="About icon"
            fontIcon="info_outline"
          ></mat-icon>
          <span>Mission</span>
        </div></a
      >
    </li>
    <!-- <div class="profileWithDivide"> -->
    <!-- <mat-divider [vertical]="true" class="vertical"></mat-divider>
      <mat-divider [vertical]="false" class="horizontal"></mat-divider> -->
    <div class="profile" *ngIf="user">
      <img [src]="user.photoUrl" alt="Profile picture" />
      <span>{{ user.name }}</span>
    </div>
    <!-- </div> -->
  </ul>
</nav>

<!-- <mat-list-item *ngIf="user">
      <img [src]="user.photoUrl" alt="Profile picture" />
      <h4>Welcome {{ user.name }}!</h4>
    </mat-list-item> -->
<!-- </mat-sidenav> -->

<!-- <mat-sidenav-content> -->
<!-- <mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/Logo.png" alt="Logo" class="logo" />
  <span>TeachGenie</span>
</mat-toolbar> -->
<div class="content">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->
