<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Home icon"
            fontIcon="home"
          ></mat-icon>
          <span>Home</span>
        </div></a
      >
      <!-- You can use custom icons by adding links to the svg: <mat-icon svgIcon="custom_icon"></mat-icon> -->
      <a mat-list-item routerLink="/lesson-plan" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Lesson plan icon"
            fontIcon="history_edu"
          ></mat-icon>
          <span>Lesson Plan</span>
        </div></a
      >
      <a mat-list-item routerLink="/test-creator" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Test creator icon"
            fontIcon="quiz"
          ></mat-icon>
          <span>Test Creator</span>
        </div></a
      >
      <a mat-list-item routerLink="/activities" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Activities icon"
            fontIcon="local_activity"
          ></mat-icon>
          <span>Activities</span>
        </div></a
      >
      <a mat-list-item routerLink="/about" routerLinkActive="active-link"
        ><div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="About icon"
            fontIcon="info_outline"
          ></mat-icon>
          <span>About</span>
        </div></a
      >
      <mat-divider *ngIf="user"></mat-divider>
      <!-- Divider for separation -->

      <mat-list-item *ngIf="user">
        <img [src]="user.photoUrl" alt="Profile picture" />
        <h4>Welcome {{ user.name }}!</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/Logo.png" alt="Logo" class="logo" />
      <span>TeachGenie</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
