<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link"
        >Home</a
      >
      <a mat-list-item routerLink="/lesson-plan" routerLinkActive="active-link"
        >Lesson Plan</a
      >
      <a mat-list-item routerLink="/test-creator" routerLinkActive="active-link"
        >Test Creator</a
      >
      <a mat-list-item routerLink="/activities" routerLinkActive="active-link"
        >Activities</a
      >
      <a mat-list-item routerLink="/about" routerLinkActive="active-link"
        >About</a
      >
      <mat-divider *ngIf="user"></mat-divider>
      <!-- Divider for separation -->

      <mat-list-item *ngIf="user">
        <img [src]="user.photoUrl" alt="Profile picture" />
        <h4>Welcome {{ user?.name }}!</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/Logo.png" alt="Logo" class="logo" />
      <span>TeachGenie</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
