mat-sidenav-container {
    height: 100%;
    /* width: 33%; */
  }

mat-sidenav {
  width: 20%;
}
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .content {
    margin: 20px;
  }
  
  .active-link {
    font-weight: bold;
    color: #3f51b5;
  }

  @media only screen and (max-width: 600px) {
    mat-sidenav {
      width: 35%;
    }
  }
  