<app-feature-explanation
  title="Kahoot Generator"
  description="Transform your lesson content into engaging Kahoot quizzes instantly. Our AI-powered generator creates ready-to-use Kahoot questions that you can import directly into your Kahoot account. Perfect for quick classroom assessments, review sessions, or fun learning activities."
></app-feature-explanation>

<mat-card>
  <h2>Generate Kahoot</h2>
  <form [formGroup]="kahootForm" (ngSubmit)="generateKahoot()">
    <mat-form-field appearance="fill">
      <mat-label>What would you like to learn?</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="kahootForm"
      [showQuestionTypes]="false"
    ></app-form-options>

    <button mat-raised-button color="primary" type="submit">
      Generate Kahoot
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating your personal kahoot ...</p>
  </div>

  <div *ngIf="!loading && kahoot" id="info">
    <h2>Generated Kahoot</h2>
    <p>
      Some of the AI generated answers might be greater than 75 characters,
      Kahoot will verify when you import.
    </p>
    <p>
      How to import a
      <a
        href="https://support.kahoot.com/hc/en-us/articles/115002812547-How-to-import-questions-from-a-spreadsheet-to-your-kahoot"
        >spreadsheet</a
      >
      into kahoot.
    </p>
  </div>

  <div *ngIf="!loading && kahoot" id="kahoot-content">
    <div [innerHTML]="kahoot" #dataToExport></div>
    <div *ngIf="kahoot">
      <app-print-button
        [contentToPrint]="kahootString"
        [kahootContent]="parsedQuestions"
        [enablePdf]="false"
        [enableTextFile]="false"
        [enableClipboard]="false"
        [enableKahoot]="true"
        [textElement]="dataToExport"
      >
      </app-print-button>
    </div>
  </div>
</mat-card>
