/* src/app/components/home/home.component.css */
/******* START: HERO SECTION *******/
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
  height: 100%;
  width: 50%;
    /* padding: 2rem;
  max-width: 800px;
  width: 100%; */
  z-index: 1;
  /* text-align: center; */
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2em;
  z-index: -1;
}

.hero .hero-content h1 {
  font-size: 5em;
  color: white;
  line-height: 1em;
  letter-spacing: -6px;
}

.hero .hero-content h1 span {
  color: var(--color-primary);
}

.hero .hero-content p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 2rem;
  color: white;
}

.hero .hero-content button {
  padding: 0.75em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.hero .hero-content button:first-child {
  margin-right: 1rem;
  background-color: var(--color-primary);
  color: #fff;
}

.hero .hero-content button:last-child {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

/* .hero .hero-content button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

@media (max-width: 768px) {
  .hero {
    height: auto;
    /* min-height: 100vh; */
  }

  .hero .hero-content {
    padding: 1.5rem;
    width: 100%;
  }

  .hero .hero-content h1 {
    /* font-size: 3em; */
  }
  /* .hero .hero-content h1 {
    font-size: 3em;
    letter-spacing: -4px;
  }
  .hero .hero-content p {
    font-size: 1em;
  }
  .hero img {
    width: 100%;
    height: auto;
    max-width: none;
    margin-bottom: 2em;
  } */
}
/* @media (max-width: 600px) {
  .hero .hero-content {
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .hero .hero-content h1 {
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: -2px;
  }

  .hero .hero-content p {
    font-size: 0.8em;
  }
  .hero img {
    display: none;
  }
  .hero {
    background-color: var(--color-secondary);
  }

  .hero .hero-content button {
    margin: 0.5em 0;
  }
} */

/******* END: HERO SECTION *******/
.section {
  padding: 40px 40px;
}
/******* START: SOCIAL PROOF SECTION *******/
.social-proof {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .social-proof h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--color-primary);
} */

.social-proof .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

/******* END: SOCIAL PROOF SECTION *******/

.home-card {
    margin: 0 20px;
    padding: 0 20px;
  }

  .header {
    text-align: center;
    margin-bottom: 1em;
  }

  .header h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.3em;
    font-weight: 700;
  }

  .header h1 span {
    color: var(--color-primary);
  }

  .header p span {
    color: var(--color-primary);
    font-weight: bold;
  }

  .header p {
    font-size: 1.2em;
    margin-bottom: 7%;
    margin-top: 6%;
    font-weight: 400;
  }

  .header button {
    font-weight: 600;
  }

  .features {
    text-align: center;
    margin-top: 8%;
  }

  .feature-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .feature-item {
    text-align: center;
    max-width: 200px;
  }

  .feature-item mat-icon {
    font-size: 3em;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
  }

  .testimonials {
    text-align: center;
    margin-top: 10%;
    animation: fadeInUp 1s ease-in-out;
  }

  .testimonials h2{
    margin-top: .5em;
  }

  .spacer {
    flex: 1 1 auto;
  }

/****************************************************************************
* Container showcasing sample ai generated pdfs
****************************************************************************/

  /* Container setup */
.container {
  max-width: 1200px;
  margin: 10% auto 5% auto;
  padding: 20px;
}

/* Header styling */
.sample-header {
  text-align: center;
  margin-bottom: 40px;
}

.sample-header h1 {
  font-size: 2.5em;
  color: #333;
  margin: 0;
}

.sample-header p {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}

/* PDF showcase grid */
.pdf-showcase {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .pdf-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* PDF Card styling */
.pdf-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pdf-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pdf-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top left;
}

.pdf-content {
  padding: 20px;
}

.pdf-content h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0;
}

.pdf-content p {
  color: #666;
  margin: 10px 0;
}

.pdf-content a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pdf-content a:hover {
  background-color: #0056b3;
}


/****************************************************************************
Responsiveness
****************************************************************************/


 @media only screen and (max-width: 600px) {
  .feature-list {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    margin-bottom: 30px;
  }

  .header h1 {
    font-size: 1.7em;
    font-weight: 500;
  }

  .home-card {
    margin: auto;
    padding: auto;
  }
}

