<mat-card class="home-card">
  <!-- <mat-toolbar color="primary" class="mat-elevation-z4">
    <span>TeachGenie</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
  </mat-toolbar> -->
  <div class="header">
    <h1>Welcome to TeachGenie</h1>
    <p>The ultimate tool for creating custom content for your classroom.</p>
    <button mat-raised-button color="accent" routerLink="/lesson-plan">
      Get Started
    </button>
  </div>
  <div class="features">
    <h2>Features</h2>
    <div class="feature-list">
      <div *ngFor="let feature of features" class="feature-item">
        <mat-icon>{{ feature.icon }}</mat-icon>
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
      </div>
    </div>
  </div>

  <!-- https://primeng.org/carousel#circular -->
  <div class="testimonials">
    <h2>Teacher Testimonials</h2>
    <div class="card">
      <p-carousel
        [value]="products"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="6000"
      >
        <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <p>"{{ product.message }}"</p>
            <h4>- {{ product.name }}, {{ product.position }}</h4>
            <!-- <div class="mb-3"> -->
            <!-- <div class="relative mx-auto">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-full border-round"
            />
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
              class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
            />
          </div>
        </div> -->
            <!-- <div class="mb-3 font-medium">
          {{ product.name }}
        </div> -->
            <!-- <div class="flex justify-content-between align-items-center"> -->
            <!-- <div class="mt-0 font-semibold text-xl">
            {{ "$" + product.price }}
          </div>
          <span>
            <p-button
              icon="pi pi-heart"
              severity="secondary"
              [outlined]="true"
            />
            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
          </span>
        </div> -->
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</mat-card>
