/* src/app/components/home/home.component.css */
.home-card {
    margin: 20px;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    line-height: 1.3em;
  }
  
  .header p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .features {
    text-align: center;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .feature-item {
    text-align: center;
    max-width: 200px;
  }
  
  .feature-item mat-icon {
    font-size: 3em;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

/**************************************************************************** 
Responsiveness
 ****************************************************************************/
  

 @media only screen and (max-width: 600px) {
  .feature-list {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    margin-bottom: 30px;
  }

  .header h1 {
    font-size: 1.7em;
    font-weight: 500;
  }

  .home-card {
    margin: auto;
    padding: auto;
  }
}
  