<app-feature-explanation
  title="Lesson Plan Generator"
  description="Create comprehensive, standards-aligned lesson plans in minutes. Our AI-powered generator helps you develop detailed lesson plans that include objectives, activities, assessments, and more. Customize the generated content to match your teaching style and classroom needs."
></app-feature-explanation>

<mat-card>
  <h2>Create Lesson Plan</h2>
  <form [formGroup]="lessonForm" (ngSubmit)="generateLessonPlan()">
    <mat-form-field>
      <mat-label>What would you like to learn?</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="lessonForm"
      [showNumberOfQuestions]="false"
      [showQuestionTypes]="false"
    ></app-form-options>

    <button mat-raised-button color="primary" type="submit">
      Generate Lesson Plan
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating your personal lesson plan ...</p>
  </div>

  <div *ngIf="!loading && lessonPlan" id="lesson-plan">
    <div
      [innerHTML]="lessonPlan"
      #dataToExport
      contenteditable="true"
      (input)="onContentChange($event)"
    ></div>
    <app-print-button
      [contentToPrint]="lessonString"
      [enablePdf]="true"
      [enableTextFile]="false"
      [enableClipboard]="true"
      [textElement]="dataToExport"
    >
    </app-print-button>
    <button
      *ngIf="editLessonPlan"
      mat-raised-button
      color="primary"
      (click)="saveLessonPlan()"
      class="mx-2"
    >
      Save Edits to Lesson Plan
      <mat-icon
        aria-hidden="false"
        aria-label="Save icon"
        fontIcon="save"
      ></mat-icon>
    </button>
  </div>
</mat-card>
