mat-card {
  margin: 20px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}

h2 {
  color: #3f51b5;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}

#lesson-plan {
  margin-top: 1.5em;
}
