<mat-card>
  <h2>Create Test</h2>
  <form [formGroup]="testForm" (ngSubmit)="generateTest()">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="testForm"
      [showQuestionTypes]="true"
    ></app-form-options>

    <button mat-raised-button color="primary" type="submit">
      Generate Test
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating test, please wait...</p>
  </div>

  <h2 *ngIf="!loading && test">Generated Test</h2>

  <div *ngIf="!loading && test" id="test-content">
    <div [innerHTML]="test" #dataToExport></div>
    <div *ngIf="test">
      <app-print-button
        [contentToPrint]="testString"
        [enablePdf]="true"
        [enableTextFile]="false"
        [enableClipboard]="true"
      >
      </app-print-button>
    </div>
  </div>
</mat-card>
