mat-card {
    margin: 20px;
    padding: 20px;
  }

  /* src/app/components/test-creator/test-creator.component.css */
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  
  h2 {
    color: #3f51b5;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
  }

  #test-content{
    margin-top: 1.5em;
  }

  div[contenteditable="true"] {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  div[contenteditable="true"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .mx-2 {
    margin: 10px;
  }
  