<mat-card>
  <h2>Create Test</h2>
  <form [formGroup]="testForm" (ngSubmit)="generateTest()">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="testForm"
      [showQuestionTypes]="true"
    ></app-form-options>

    <button mat-raised-button color="primary" type="submit">
      Generate Test
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating your personal test ...</p>
  </div>

  <div *ngIf="!loading && test" id="test-content">
    <div
      [innerHTML]="test"
      #dataToExport
      contenteditable="true"
      (input)="onContentChange($event)"
    ></div>
    <div *ngIf="test">
      <app-print-button
        [contentToPrint]="testString"
        [enablePdf]="true"
        [enableTextFile]="false"
        [enableClipboard]="true"
        [textElement]="dataToExport"
      >
      </app-print-button>
      <button
        *ngIf="editTest"
        mat-raised-button
        color="primary"
        (click)="saveTest()"
        class="mx-2"
      >
        Save Edits to Test
        <mat-icon
          aria-hidden="false"
          aria-label="Save icon"
          fontIcon="save"
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-card>
