mat-card {
    margin: 20px;
    padding: 20px;
  }

  /* src/app/components/test-creator/test-creator.component.css */
.optional-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.optional-fields mat-form-field {
  flex: 1 1 calc(50% - 10px); /* Adjust width to fit two fields per row */
}
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  
  h2 {
    color: #3f51b5;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
  }
  