<mat-card>
  <h2>Recommended Activities</h2>
  <form [formGroup]="activitiesForm" (ngSubmit)="generateActivities()">
    <mat-form-field>
      <mat-label>Concept</mat-label>
      <input matInput formControlName="concept" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Generate Activities
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating activities, please wait...</p>
  </div>

  <h2 *ngIf="!loading && activities">Generated activities Plan</h2>

  <div *ngIf="!loading && activities">
    <div [innerHTML]="activities"></div>
    <app-print-button
      [contentToPrint]="activitiesString"
      [enablePdf]="true"
      [enableTextFile]="false"
      [enableClipboard]="true"
    >
    </app-print-button>
  </div>
</mat-card>
