<mat-card>
  <h2>Recommended Activities</h2>
  <form [formGroup]="activitiesForm" (ngSubmit)="generateActivities()">
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="activitiesForm"
      [showNumberOfQuestions]="false"
      [showQuestionTypes]="false"
    ></app-form-options>

    <button mat-raised-button color="primary" type="submit">
      Generate Activities
    </button>
  </form>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating activities, please wait...</p>
  </div>

  <div *ngIf="!loading && activities" id="activities">
    <div [innerHTML]="activities" #dataToExport></div>
    <app-print-button
      [contentToPrint]="activitiesString"
      [enablePdf]="true"
      [enableTextFile]="false"
      [enableClipboard]="true"
      [textElement]="dataToExport"
    >
    </app-print-button>
  </div>
</mat-card>
