<app-feature-explanation
  title="Gap Assessment"
  description="The Gap Assessment tool helps you identify knowledge gaps for your students. 
  Create a test by specifying what you'd like to learn about your students' understanding.
  After completion you can print the test with the student's answers and you'll receive a 
  detailed analysis of the knowledge gaps."
></app-feature-explanation>

<!--<mat-card *ngIf="!testActive">
  <h2>Analyze gap results</h2>
  <div *ngIf="!selectedFile">Upload PDF</div>
  <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
  <input type="file" (change)="onFileSelected($event)" />
  <button
    *ngIf="selectedFile"
    mat-raised-button
    color="primary"
    (click)="createGapAssessment()"
  >
    Analyze file and generate gap assessment
  </button>
</mat-card>-->
<mat-card *ngIf="!testActive && !testComplete">
  <h2>Create Test For Gap Assessment</h2>
  <form [formGroup]="gapTestForm" (ngSubmit)="beginTest()">
    <mat-form-field appearance="fill">
      <mat-label>What would you like to learn?</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>
    <app-form-options
      [parentFormGroup]="gapTestForm"
      [showQuestionTypes]="true"
      [testType]="'gap'"
    ></app-form-options>
    <div class="buttons">
      <button id="button-left" mat-raised-button color="primary" type="submit">
        Begin Test
      </button>
    </div>
  </form>
  <!-- Add loading mat spinner logic here-->
  <!--Add save activities button here-->
</mat-card>
<mat-card id="test" *ngIf="testActive">
  <h1>{{ gapTestName }}</h1>
  <app-active-test
    [questions]="questions"
    (taskCompleted)="finishTest($event)"
  ></app-active-test>
</mat-card>

<!-- <mat-card *ngIf="testComplete">
  <h1>{{ gapTestName }}</h1>
  <h2>Test Complete!</h2>
  <app-active-test [questions]="questions"></app-active-test> -->
<!-- </mat-card> -->
<div class="gap-assessment-container" *ngIf="testComplete">
  <h1>Gap Analysis</h1>
  <app-inline-gap-assessment
    [assessment]="assessment"
    [testData]="{ questions: questions, testName: gapTestName, selectedAnswers: selectedAnswers }"
  ></app-inline-gap-assessment>
</div>
