<!-- src/app/shared/print-button/print-button.component.html -->
<div class="button-group">
  <!-- <button mat-raised-button color="primary" (click)="print()">Print</button> -->
  <button
    *ngIf="enablePdf"
    mat-raised-button
    color="primary"
    (click)="saveAsPdf()"
    class="mx-2"
  >
    Save as PDF
  </button>
  <button
    *ngIf="enableTextFile"
    mat-raised-button
    color="primary"
    (click)="saveAsTextFile()"
    class="mx-2"
  >
    Save as Text File
  </button>
  <button
    *ngIf="enableClipboard"
    mat-raised-button
    color="primary"
    (click)="copyToClipboard()"
    class="mx-2"
  >
    Copy to Clipboard
  </button>
  <button
    *ngIf="enableKahoot"
    mat-raised-button
    color="primary"
    (click)="saveAsCsv()"
    class="mx-2"
  >
    Save to Excel
  </button>
</div>
