/* assets/css/printPDF.css */
/* body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }
  
  p, li {
    margin-bottom: 10px;
  }
  
  ul, ol {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  code {
    font-family: monospace;
    font-size: 11px;
  }
   */